<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../styles/base.css">
        <link rel="stylesheet" href="../styles/header.css">
        <link rel="stylesheet" href="../styles/footer.css">
    </head>
    <body>
        <header>
            <h1>Travel Planner App</h1>
            <nav>
                <a href="#home">Home</a>
                <a href="#trips">Trips</a>
                <a href="#about">About</a>
            </nav>
        </header>
        <main id="container">
           <section>
               <div id="travel-details-backboard">
                   <h3>Trip Details</h3>
                   <form>
                       <label for="origin">Origin:</label>
                       <input type="text" id="origin" name="origin" placeholder="Origin">
                       <label for="desired-dest">Destination:</label>
                       <input type="text" id="desired-dest" name="desired-dest" placeholder="Destination">
                       <label for="desired-date">Date:</label>
                       <input type="date" id="desired-date" name="desired-date" placeholder="Date">
                    </form>
                    <button id="get-travel-data">Book Trip</button>
               </div>
               
           </section>
           <section>
           </section>
        </main>
        <footer>
            <h3>Powered by Javascript</h3>
        </footer>
    </body>
</html>