<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <header>
            <h1>Travel Planner App</h1>
            <nav>
                <a href="#home">Home</a>
                <a href="#trips">Trips</a>
                <a href="#about">About</a>
            </nav>
        </header>
        <main id="container">
           <section id="trip-booking-section">
               <div id="trip-form-backboard" class="rounded">
                   <h2 id="trip-form-title">Trip Details</h2>
                   <form id="trip-form" class="rounded">
                       <label for="origin">Origin:</label>
                       <input type="text" id="origin" name="origin" placeholder="Origin">
                       <label for="desired-dest">Destination:</label>
                       <input type="text" id="desired-dest" name="desired-dest" placeholder="Destination">
                       <label for="desired-date">Date:</label>
                       <input type="date" id="desired-date" name="desired-date" placeholder="Date">
                    </form>
                    <button id="get-travel-data" class="rounded" onclick="return Client.getTripDetails()"> <strong>Check Trip</strong></button>
               </div>
           </section>
           <section id="recent-trips-section">
               <div id="recent-trips-backboard" class="rounded">
                <h3>Recent Trips</h3>
                <p>- No recent trips -</p>
               </div>
           </section>
        </main>
        <footer>
            <h3>Powered by Javascript</h3>
        </footer>
    </body>
</html>