header {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background-color: blanchedalmond;
    width: 100%;
}

header a {
    margin-left: 45px;
    text-decoration: none;
}

/*header a:link {

}

header a:visited {

}

header a:hover {

}*/

